.login-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    margin: 0 20px;
}

.logincontainer {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    max-width: 768px;
    min-width: 300px;
    width: 100%;
    height: 500px;
    min-height: 480px;
}

.logincontainer p {
    font-size: 16px;
    color: #fff;
    line-height: 2.0rem;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.logincontainer span {
    font-size: 12px;
}

.welcome-note {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.logincontainer a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.logincontainer button {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.logincontainer button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.logincontainer form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.logincontainer input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-logincontainer {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
}

.logincontainer.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    /* z-index: 1; */
}

.logincontainer.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    /* z-index: 5; */
    animation: move 0.6s;
}

.toggle-logincontainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
}

.toggle {
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.logincontainer.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.logincontainer.active .toggle-right {
    transform: translateX(200%);
}

@media only screen and (max-width: 550px) {
    .sign-in {
        left: 0;
        width: 100%;
        z-index: 2;
    }
}

.nice-select {
    background-color: #eee !important;
    outline: none;
    margin: 0 !important;
    margin-right: 10px !important;
    padding: "0px 7px";
    display: "flex";
    justify-content: "center";
    align-items: "center";
}